  .mask{
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
  }
  .nav-link{
    font-size: 20px; 
    color: white;

  }
  .nav-link:hover{
      color: #bcec55;
  }
  
  .text-center{
    background-color: #417690;
    font-size: 13px; 
    color: white;
  }
  #div-form{
    border: 1px solid;
    border-color:  white; 
    margin-top: 40px;
  }

  #text-form{
    text-align: center; 
    color: #92C02C; 
    font-weight: bold; 
    margin-top: 30px;
  }

  #text-titulo1{
    font-size: 24px; 
    color:#92C02C; 
    text-align:left; 
    margin-left: 50px; 
    margin-top: 25px; 
  }

  #text-parrafo1{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 15px; 
    color:#1e07a1; 
    margin-left: 50px; 
    margin-right: 50px

  }

  #text-tabla{
    text-align: center; 
    color: #92C02C; 
    font-weight: bold; 
    margin-top: 30px;
  }

  .table{
    margin-left: 50px; 
    width: 96%; 
    border: 1px solid #a1a1a3;
  }
  th,td{
      text-align: center;
      border: 1px solid rgb(196, 193, 193);
  }
  th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgba(4, 10, 90, 0.349);
  }