{% extends "base.html" %}

{% block title %} Pagina de inicio Gestion Ambiental {% endblock %}
{% block content %} 
<div>
    <h1 style ="font-size: 20px; color:#0d239e; text-align:center; margin-top: 10px; ">Registro Departamento de Gestión Ambiental DGA</h1>
</div>
<hr><!--1-->
<div style="text-align: justify; border: 1px solid #fdfefe; background-color:#F5FFFA; margin-left: 10px; margin-right: 10px">
<p style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px; color:#1e07a1; margin-left: 50px; margin-right: 50px">
    Los Departamentos de Gestión Ambiental se establecieron mediante la Ley 1124 de 2007, reglamentada mediante el Decreto 1299 de 2008 del Ministerio de Ambiente, Vivienda y Desarrollo Territorial (hoy Ministerio de Ambiente y Desarrollo Sostenible). 
    teniendo en cuenta lo antrior la corporacion Autonoma Regional de los Valles de Sinu y San jorge, adoptó el formulario “registro de Departamento de Gestión Ambiental,  a través del cual los representantes legales de las empresas obligadas 
    a conformar este Departamento e informar a la autoridad ambiental su conformación, evitando las sanciones respectivas por el incumplimiento de la norma. 
    <br>
    <br>
    Todas las empresas de carácter industrial en la jurisdicción la CVS que se encuentren operando, cuyas actividades de acuerdo a la normatividad ambiental vigente, requieran de licencia ambiental, plan de manejo ambiental, permisos, concesiones y demás autorizaciones ambientales, 
    deben conformar su Departamento de Gestión Ambiental – DGA, en cumplimiento con el Decreto 1299 del 22 de abril de 2008 del Ministerio de Ambiente y Desarrollo Sostenible.
    <br>
    <br>
    El DGA hace parte de la estructura organizacional de la empresa y dentro de sus funciones deben hacer un análisis de los aspectos ambientales (elementos, actividades, productos o servicios de una organización que pueden interactuar con el ambiente) para implementar estrategias 
    orientadas a prevenir, mitigar y controlar los impactos que se puedan generar o están generando en el medio ambiente por las actividades propias de la empresa.
<br>
<br>  
Principales funciones del departamento de gestión ambiental:</p>
<ul style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px; color:#1e07a1; margin-left: 50px; margin-right: 50px">
<li>Establecer e implementar acciones encaminadas a dirigir la gestión ambiental de las empresas a nivel industrial,</li>
<li>Velar por el cumplimiento de la normatividad ambiental,</li>
<li>Prevenir, minimizar y controlar la generación de cargas contaminantes,</li>
<li>Promover prácticas de producción más limpia y el uso racional de los recursos naturales,</li>
<li>Aumentar la eficiencia energética y el uso de combustible más limpios,</li>
<li>Implementar opciones para la reducción de emisiones de gases de efectos invernadero,</li>
<li>Proteger y conservar los ecosistemas.</li>
<li>Los departamentos de gestión ambiental pueden estar conformados por personal propio de las empresas o por personal externo a estas y deben contar con personal capaz de brindar apoyo en las áreas técnica-ambiental, jurídica-ambiental y administrativa de la empresa.</li>  
</ul>
<p style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px; color:#1e07a1; margin-left: 50px; margin-right: 50px">Una vez constituido el DGA, se debe informar a la CVS acerca de su creación, funciones y responsabilidades asignadas; para facilitar al usuario el registro correspondiente.</p> 
</div>      
    





{% endblock %}