<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado busqueda empresa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <!-- <p>estas buscando <strong>{{query}}</strong></p>
    {% if empresa %}
        <p>empresas encontradas: {{empresa|length}} empresas</p>
        <ul>
            {% for emp in empresa %}
            <li>
                {{emp.razon_social}} &nbsp; {{emp.direccion}} &nbsp; {{emp.tipo_gda}}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay nada...GONORREA..</p>
    {% endif %} -->
    
    <p>estas buscando <strong>{{query}}</strong></p>
    {% if empresa %}
        <p>empresas encontradas: {{empresa|length}} empresas</p>
    
    <table  class="table">
        <thead class="thead-dark">
          <tr>
            <th>Razon Social</th>
            <th>Direccion</th>
            <th>Municipio</th>
            <th>telefono</th>
            <th>correo</th>
            <th>pagina_web</th>
            <th>tipo_empresa</th>
          </tr>
        </thead>
        {% for emp in empresa %}
        <tbody>
        <tr>
            <td>{{ emp.razon_social }}</td>
            <td>{{ emp.direccion }}</td>
            <td>{{ emp.municipio }}</td>
            <td>{{ emp.telefono }}</td>
            <td>{{ emp.correo }}</td>
            <td>{{ emp.pagina_web }}</td>
            <td>{{ emp.tipo_empresa }}</td>
          </tr>
        </tbody>
          {% endfor %}
    </table>
    {% else %}
        <p>No hay nada...GONORREA..</p>
    {% endif %}
</body>
</html>